attrs==25.4.0
cattrs==26.1.0
certifi==2026.1.4
charset-normalizer==3.4.4
dotenv==0.9.9
flatbuffers==25.9.23
h11==0.16.0
idna==3.11
jh2==5.0.10
meteostat==2.1.3
niquests==3.17.0
numpy==1.26.0
openmeteo_requests==1.7.5
openmeteo_sdk==1.25.0
pandas==3.0.1
platformdirs==4.9.2
python-dateutil==2.8.2
python-dotenv==1.2.1
pytz==2023.4
qh3==1.5.6
requests==2.31.0
requests-cache==1.3.0
retry-requests==2.0.0
six==1.17.0
typing_extensions==4.15.0
tzdata==2025.3
url-normalize==2.2.1
urllib3==2.6.3
urllib3-future==2.16.900
wassima==2.0.5
